.title{
    color: white;
    font-size: 2.4em;
    background-size: cover;
    text-align: center;
    text-shadow: 3px 3px blue;
    margin: 0% 40%;
    }
    
    body {
    background-image: url('../img/img/background.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: 100% 99.99%;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    }
    .navbar{
      background-color: black;
      text-align: center;
    }
    .line{
      background-color: red;
      height: 3pt;
    }
      
    
    #home{
      background-color: rgba(0, 0, 0, 40%);
      border-color: transparent;
      background-image:url("../img/buttons/home.png");
      padding: 32px;
      background-repeat: no-repeat;
      border-radius: 10px 10px;
    
  }
  #again{
    background-color: rgba(0, 0, 0, 40%);
    border-color: transparent;
    background-image:url("../img/buttons/again.png");
    padding: 32px;
    background-repeat: no-repeat;
    border-radius: 10px 10px;
  }
  
  #cards{
  background-color: rgba(0, 0, 0, 40%);
  border-color: transparent;
  background-image:url("../img/buttons/cards.png");
  padding: 32px;
  background-repeat: no-repeat;
  border-radius: 10px 10px;
  
  }
  #carta{
    width: 40px;
    height: 40px;
    margin:10px;
    padding:20px;
  }
   /*         HORIZONTAL              */
  @media (orientation: landscape) { 
        .navbar-brand{
          float: left;
          padding: 1% 2%;
        }
      
      .cronometro{
          width:50%;
          margin: 0px;
          display: inline-block;
      } 
      #hms{
        margin: 0px;
        font-size:3.5vw;
        color:#fff;
        font-family:alarm;
      }
      #movimientos{
        width: 36%;
        margin: 0px;
        display: inline-block;
        text-align:left;
        margin-left: 5%;
        font-size:3.5vw;
        color:#fff;
        font-family: alarm;  
      }
      #winban{
        position: absolute;
        top:28%;
        margin-left: 30%;
        text-align: center;
      }
      #winbantexto{
        position: absolute;
        background-color: rgba(0, 0, 0, 40%);
        top:10%;
        width: 80%;
        color: white;
        text-shadow: 3px 3px blue;
        font-size: 1.5em;
      } 
      .sobre{
        margin-left: 10%;
      }
      .boton{
        position: relative;
        left:-5%;
      }
      footer p{
        color: white;
        font-size: 120%;
        }
  }
  /*         VERTICAL              */
  @media (orientation: portrait) { 
      .navbar-brand{
        float: left;
        padding:1.6% 2%;
      }
    
      .cronometro{
        width:50%;
        margin: 0px;
        display: inline-block;
    } 
    #hms{
      text-align: center;
      margin: 0px;
      font-size:8vw;
      color:#fff;
      font-family:alarm;
    }
    #movimientos{
      width: 36%;
      margin: 0px;
      display: inline-block;
      text-align:center;
      font-size:8vw;
      color:#fff;
      font-family: alarm;  
    }
    #winban{
      position: absolute;
      display: none;
      top:31%;
      width: 80%;
      margin-left: 6%;
    }
    #winbantexto{
      position: absolute;
      background-color: rgba(0, 0, 0, 40%);
      top:10%;
      width: 80%;
      color: white;
      text-shadow: 3px 3px blue;
      font-size: 1.5em;
    }
    .sobre{
      margin-left: 10%;
    }
    .boton{
      position: relative;
      left: -5%;
    }
    footer p{
      color: white;
      font-size: 120%;
      margin-top: 20%;
      }
  }
  